*,
*::before
*::after {
	box-sizing: border-box;
	height: 100%;
}

body {
	background: #243642;
	margin: 0;
	font-family: Bahnschrift;
}

.logo {
	width: 100%;
	overflow: hidden;
	display: block;
	height: 35px;
}

body nav {
	position: sticky;
	top: 0;
	z-index: 1;
}

ul {
	width: 100%;
	display: flex;
	box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 20px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

    li {
        list-style: none; 
        margin-right: 20px;
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        align-items: flex-end;

        a {
            color: #257180;
            text-decoration: none;
            letter-spacing: .15em;
            padding: 10px 20px; 
            position: relative;

            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #257180;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover:after { 
                width: 100%;
                left: 0;
            }
        }
    }
}

.nav-logo {
	color: #257180;
	text-decoration: none;
	letter-spacing: .15em;
	padding: 10px 20px; 
	position: relative;

	&:after {    
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #E2F1E7;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}

	&:hover:after { 
		width: 100%;
		left: 0;
	}
}

.arrow {
	position: fixed;
	bottom: 80px;
	right: 60px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #FFFFFF;
	transform: rotate(45deg);
	animation: blink 1s infinite;
}
@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}

footer a {
	font-family: georgia;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
	color: #243642;
	transition: all .4s ease-in-out;

	&:hover {
		color: white;
	}
}

.foot {
	position: sticky;
	background-color: #5b97b5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding: 45px;
}

.havefun-first1 {
	max-width: 90%;
	height: 70%;
	width: 75%;
	background: #387478;
	border-radius: 30px;

	h1 {
		padding: 35px 0px 0px 35px;
		color: #E2F1E7;
		font-size: 7.6vh;
	}

	p {
		color: #E2F1E7;
		text-align: justify;
		padding: 0px 35px 5px 35px;
		font-size: 200%;
	}
}
