*,
*::before
*::after {
	box-sizing: border-box; 
	height: 100%;
}
    
body {
	background: url('background-shape.png');
    margin: 0;
    font-family: Bahnschrift;
    overflow-x: hidden;
}

.logo {
	width: 100%;
	overflow: hidden;
	display: block;
	height: 35px;
}

nav {
	position: sticky;
    top: 0;
	z-index: 1;
}

ul {
	width: 100%;
	display: flex;
	box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 20px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);


    li {
        list-style: none; 
        margin-right: 20px;
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        align-items: flex-end;

        a {
            color: #257180;
            text-decoration: none;
            letter-spacing: .15em;
            padding: 10px 20px; 
            position: relative;

            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #257180;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover:after { 
                width: 100%;
                left: 0;
            }
        }
    }
}

.nav-logo {
	color: #257180;
	text-decoration: none;
	letter-spacing: .15em;
	padding: 10px 20px; 
	position: relative;

	&:after {    
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: black;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}

	&:hover:after { 
		width: 100%;
		left: 0;
	}
}

section {
	display: block;
	place-items: center;
	font-weight: bold;
}


/* Perkenalan Situs */

.perkenalan-situs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container-perkenalan-situs {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1.2fr);
    grid-template-rows: 1;
    border: black solid 3px;
    width: 500px;
    height: 200px;
    grid-gap: 0.3em;
    text-transform: uppercase;

    div {
        background: red;
        border: blue solid 2px;
        border-radius: 3px;
    }

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 40px;
    background-color: #f9f9f9;
}

.hero .text {
    max-width: 50%;
}

.hero .text h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #333333;
}

.hero .text p {
    font-size: 18px;
    margin: 20px 0;
    color: #666666;
}

.hero .text a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.hero .text a i {
    margin-left: 5px;
}

.hero .image {
    max-width: 50%;
}

.hero .image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us {
    padding: 100px 40px;
    background-color: #e0f7fa;
    text-align: center;
}

.about-us h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.about-us p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: #666666;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text-content {
    max-width: 60%;
    order: 2;
}

.video-content{
    padding-top: 90px;
    padding-right: 40px;
}

.text-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.text-content p:last-child {
    font-weight: bold;
}

.sec-1{
    background-color: #cfd7db;
    padding: 40px 70px;
    margin: 0;
}

.sec-2{
    background-color: #ececec;
    padding: 40px 100px;
    margin: 0;
}

.container {
    padding: 50px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 300px;
    margin: 0 20px;
    text-align: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 35%;
}

.biodata {
    width: 300px;
    margin: 0 20px;
    text-align: left;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.position {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: #333;
}

footer a {
	font-family: georgia;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
	color: #243642;
	transition: all .4s ease-in-out;

	&:hover {
		color: white;
	}
}

.foot {
    width: 100%;
	position: sticky;
	background-color: #5b97b5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
}
