*,
*::before
*::after {
	box-sizing: border-box; 
	height: 100%;
}
    
body {
	background-color: #243642;
    margin: 0;
    font-family: Bahnschrift;
}

.logo {
	width: 100%;
	overflow: hidden;
	display: block;
	height: 35px;
}

nav {
	position: sticky;
    top: 0;
	z-index: 1;
}

ul {
	width: 100%;
	display: flex;
	box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 20px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);


    li {
        list-style: none; 
        margin-right: 20px;
        font-size: 1.1em;
        font-weight: bold;
        display: flex;
        align-items: flex-end;

        a {
            color: #257180;
            text-decoration: none;
            letter-spacing: .15em;
            padding: 10px 20px; 
            position: relative;

            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #257180;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover:after { 
                width: 100%;
                left: 0;
            }
        }
    }
}

.nav-logo {
	color: #257180;
	text-decoration: none;
	letter-spacing: .15em;
	padding: 10px 20px; 
	position: relative;

	&:after {    
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #E2F1E7;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}

	&:hover:after { 
		width: 100%;
		left: 0;
	}
}

section {
	display: flex;
	align-items: center;
    justify-content: center;
	font-weight: bold;
    height: 750px;
}

.grid-seeking-help-container {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-template-rows: 1fr;
    width: 90%;
    height: 80%;

    .grid-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        text-align: right;
        font-size: 4em;
        color: #E2F1E7;
        padding-right: 35px;

        a {
            text-decoration: none;
            color: #E2F1E7;
            transition: color .5s ease-in-out;

            &:hover {
                color: #E2F1E750;
            }
        }
    }

    .grid-2 {
        padding: 230px 1em 1em 1em;
        border-left: #E2F1E7 solid 7px;

        img {
            width: 300px;
            height: 150px;
        }
    }

}

footer a {
	font-family: georgia;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
	color: #243642;
	transition: all .4s ease-in-out;

	&:hover {
		color: white;
	}
}

.foot {
	position: sticky;
	background-color: #5b97b5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
}